* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none !important;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
}

.data {
    background-color: #f5f5f5;
    height: 100vh;
    margin-left: 250px;
}

nav {
    background: #2d3836;
    line-height: 80px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

label {
    line-height: 80px;
    font-size: 30px;
    color: #1ad9ac;
    font-weight: 200;
    margin-left: 50px;
    cursor: pointer;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    line-height: 80px;
    margin: 0 10px;
}

.font-size-sm{
    font-size: 19px;
}

.overflow-margin-right{
    margin-right: 500px;
}

#helper h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#helper h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.side-menu {
    padding-top: 20px;
    position: fixed;
    background: #e8e8e8;
    width: 250px;
    height: 100%;
    margin-top: 80px;
}

.image-size{
    width: 80% !important;
    height: 450px !important;
}

.side-menu a {
    display: block;
    line-height: 50px;
    transition: 0.5s;
    border-bottom: 1px solid #b8b8b8;
}

.side-menu a:hover {
    background: white;
    padding-left: 20px;
}

.side-menu span {
    font-size: 20px;
    margin-left: 10px;
    color: rgb(59, 59, 59);
}

.side-menu i {
    font-size: 20px;
    margin-left: 20px;
    color: rgb(59, 59, 59);
}

nav .menu-bar {
    float: right;
    margin-top: 20px;
    display: none;
    margin-right: 20px;
    z-index: 9999;
}

#menu {
    display: none;
}

.side-menu .Logout {
    display: none;
}

.data .extra {
    width: 100%;
    height: 80px;
}

.data .banner {
    width: 100%;
    height: 150px;
    background-color: white;
    box-shadow: 5px 30px 8px #d8d8d8;
}

.data .banner .heading {
    text-align: center;
    padding-top: 20px;
}

.myrow {
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.myrow>div {
    flex: 1;
}

#bt {
    background-color: #1ad9ac;
    border: 1px solid #1ad9ac;
    padding: 10px;
    border-radius: 4px;
    color: white;
    margin-left: 30px;
}

#bt:hover {
    cursor: pointer;
    color: #1ad9ac;
    background-color: white;
}

#bt1 {
    background-color: #1ad9ac;
    border: 1px solid #1ad9ac;
    padding: 10px;
    border-radius: 4px;
    color: white;
    margin-left: 0px;
}

#bt1:hover {
    cursor: pointer;
    color: #1ad9ac;
    background-color: white;
}

#readMore {
    background-color: #1ad9ac;
    border: 1px solid #1ad9ac;
    padding: 10px;
    border-radius: 4px;
    color: white;
    margin-left: 30px;
}

#readMore:hover {
    cursor: pointer;
    color: #1ad9ac;
    background-color: white;
}

.btn {
    background-color: white;
    border: 1px solid #1ad9ac;
    padding: 10px;
    border-radius: 4px;
    color: #1ad9ac;
    margin-left: 30px;
}

.btn:hover {
    cursor: pointer;
    color: white;
    background-color: #1ad9ac;
}

.data .content {
    text-align: left;
    padding-left: 10%;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 100px;
    background-color: #f5f5f5;
}

.data .content .object i {
    color: grey;
}

.data .content .object {
    margin-bottom: 50px;
}

.data .content .object h4 {
    color: #1ad9ac;
}

.data .content .object a:hover {
    display: block;
    border-bottom: 1px solid grey;
    width: fit-content;
}

.data .content .object img {
    width: 100%;
    height: 300px;
}

.data .content .object h5 {
    float: left;
}

.data .content .object span {
    color: #1ad9ac;
}

.data .content .object .title {
    display: flex;
}

.data .content .object .title>div {
    flex: 1;
}

.card {
    width: 90%;
}



.spin-size {
    width: 150px !important;
    height: 150px !important;
    position: absolute;
    bottom: 23%;
    left: 50%;
}

#heading1 {
    margin-top: 30px;
}

#search-input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #1ad9ac;
    margin-left: -10%;
}

#content-para {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
    width: 80%;
}

#image {
    height: auto;
}

#readMore {
    margin-left: 0px;
}

.object h5 {
    margin-top: 30px;
}

@media (max-width:850px) {
    .side-menu a span {
        display: none;
    }
    .side-menu center {
        display: none;
    }
    .side-menu {
        width: 100px;
    }
    .side-menu a i {
        display: block;
        line-height: 80px;
        text-align: center;
        margin-left: 0;
        font-size: 35px;
    }
    .data {
        margin-left: 100px;
    }
}

@media (max-width:650px) {
    .data {
        margin-left: 0px;
    }
    nav ul {
        display: none;
    }
    .side-menu {
        width: 100%;
        text-align: center;
        left: 100%;
        background-color: #e8e8e8;
        transition: all 0.5s;
    }
    .side-menu a i {
        display: none;
    }
    .side-menu a span {
        display: block;
    }
    .side-menu .Logout {
        display: block;
    }
    nav .menu-bar {
        display: block;
    }
}

#menu:checked~.side-menu {
    left: 0;
}